<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="menu">
    <div style="background-color: #048101; width: 100%; height: 100%">
        <h1 style="margin: 0" th:text="#{title.menu}"></h1>

        <table>
            <tr>
                <td>
                    <a th:href="@{/welcome}" th:text="#{welcome.ref.text}"></a>
                </td>
            </tr>

            <tr>
                <td>
                    <a th:href="@{/info}" th:text="#{info.ref.text}"></a>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>